*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-shadow: none;
}
a{
    text-decoration: none;
}
.bg_menu{
    background-color: #1C1E53;
}
.bg_menu ul{
    text-align: center;
}
.bg_menu{
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}
.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: none;
}
nav button{
    border: 2px solid white !important;
}
nav i{
    color: rgba(255, 255, 255, 0.708);
}
nav ul li a{
    color: #BBBBCB !important;
    margin-left: 20px;
    font-weight: 600 !important;
}
nav ul li:hover a{
    color: white !important;
}
nav ul li .contact{
    display: inline-block;
    border: 2px solid #BBBBCB !important;
    border-radius: 30px !important;
    padding: 10px 30px !important;
}

/* nav end */

/* banner start */
#banner{
    margin-top: 180px;
}
.banner_text h2{
    font-size: 40px;
    font-weight: 600;
}
.banner_bottom p{
    margin-top: 45px;
}
.banner_text p{
    margin-top: 20px;
}
.banner_pic{
    margin-top: 30px;
}
/* banner end */

/* blog start */
#blog{
   margin-top: 80px;
   margin-bottom: 100px;
}
.blog_title h1{
   font-size: 40px;
   font-weight: 600;
}

.blog-4{
    margin-top: 50px;
}
.blog-5{
    margin-top: 50px;
}
.blog-6{
    margin-top: 50px;
}
.blog_pic_text1 h6{
    margin-top: 20px;
}
.blog_pic_text1 h2{
    margin-top: 20px;
}
.blog_pic_text1 p{
    margin-top: 20px;
}

.blog_pic_text1 a{
    color: #1C1E53;
}
.blog_pic_text1 i{
    margin-left: 5px;
}
.blog-1 img{
    margin-top: 50px;
}
.blog-2 img{
    margin-top: 50px;
}
.blog-3 img{
    margin-top: 50px;
}
/* blog end */

/* footer start */
footer{
    padding-top: 100px;
    background-color: #1C1E53;
    margin-bottom: 50px;
}
.footer_left p{
    color: rgba(255, 255, 255, 0.688);
}
.footer_right h2{
    color: white;
}
.footer_right p{
    color: white;
}
.footer_right_icon i{
    color: white;
    margin-left: 10px;
}
.footer_under_text_left h3{
    color: black;
   
}
.footer_under_text_left p{
    color: rgba(0, 0, 0, 0.752);
   
}
.footer_under_text_right h3{
    color: black;
   
}
.footer_under_text_right p{
    color: rgba(0, 0, 0, 0.762);
}


.footer_bar a{
    display: inline-block;
    color: black;
}
.footer_bar .one{
    padding-left: 20px;
}
.footer_bar .two{
    padding-left: 20px;
}
.footer_bar .three{
    padding-left: 20px;
}
.footer_bar .four{
    padding-left: 20px;
}
.footer_bar .five{
    padding-left: 20px;
}
.footer_under_text_left h3{
    padding-top: 20px;
    padding-left: 20px;
}
.footer_under_text_left p{
    padding-left: 20px;
}

.footer_under_text_right h3{
    padding-top: 20px;
}
.footer_address{
    background-color:#FCD980 ;
    height: 100px;
    width: 600px;
}
/* footer end */