*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-shadow: none;
}
a{
    text-decoration: none;
}
.bg_menu{
    background-color: #1C1E53;
}
.bg_menu ul{
    text-align: center;
}
.bg_menu{
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}
.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: none;
}
nav button{
    border: 2px solid white !important;
}
nav i{
    color: rgba(255, 255, 255, 0.708);
}
nav ul li a{
    color: #BBBBCB !important;
    margin-left: 20px;
    font-weight: 600 !important;
}
nav ul li:hover a{
    color: white !important;
}
nav ul li .contact{
    display: inline-block;
    border: 2px solid #BBBBCB !important;
    border-radius: 30px !important;
    padding: 10px 30px !important;
}

/* nav end */

/* pricing plan start   */

#pricing{
    padding-top: 220px;
}
.card1 .per{
    font-size: 18px;
    font-weight: 600;
    color: #2405F2;
}

.card2 .multi{
    font-size: 18px;
    font-weight: 600;
    color: #2405F2;
}
.card3 .per{
    font-size: 18px;
    font-weight: 600;
    color: #2405F2;
}
.container .menu14{
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
gap:15px;

}

.container .menu14 .card1{
box-shadow: 0 5px 10px rgba(0,0,0,.2);
border-radius: 5px;
background: #F4F6FC;
padding: 40px 50px;
width: 385px;
margin: auto;

}

.container .menu14 .arrow{
    padding:50px 0;
}

.container .menu14 .card2:hover{
    background-color: #1C1E53;
}
.card2 h2{
 color: black;
}
.card2:hover h2{
 color: white;
}

.card2 h4{
color: black;
}
.card2:hover h4{
color: white;
}
.card2 p{
color: black;
}
.card2:hover p{
color: white;
}

.container .menu14 .arrow1{
    padding:50px 0;
}
.card1 .button7 a{
    background-color: #282938;
    color: white;
    padding: 15px 80px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}
  
  .card1:hover .button7 a{
      color: black;
      background-color: #FCD980;
  }

.container .menu14 .card2{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #F4F6FC;
    color: #fff;
    padding: 40px 50px;
    width: 385px;
    margin: auto;
    }
    .container .menu14 .card1:hover{
        background-color: #1C1E53;
    }
   .card1 h2{
     color: black;
   }
   .card1:hover h2{
     color: white;
   }

   .card1 h4{
    color: black;
   }
   .card1:hover h4{
    color: white;
   }
   .card1 p{
    color: black;
   }
   .card1:hover p{
    color: white;
   }
    .card1:hover .per{
        color: #FCD980;
    }
    .card2:hover .multi{
        color: #FCD980;
    }
    .card3:hover .per{
        color: #FCD980;
    }

    .container .menu14 .arrow1{
        padding:50px 0;
    }
    .card2 .button8 a{
        background-color: #282938;
        color: white;
        padding: 15px 80px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 600;
    }
      
      .card2:hover .button8 a{
          color: black;
          background-color: #FCD980;
      }
    .arrow1{
        margin-top: -25px;
    }

    .container .menu14 .card3{
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        border-radius: 5px;
        background: #F4F6FC;
        padding: 40px 50px;
        width: 385px;
        margin: auto;
        
        }
        .container .menu14 .arrow2{
            padding:50px 0;
        }
        
        .card3 .button9 a{
            background-color: #282938;
            color: white;
            padding: 15px 80px;
            border-radius: 50px;
            font-size: 18px;
            font-weight: 600;
        }
        .container .menu14 .card3:hover{
            background-color: #1C1E53;
        }
       .card3 h2{
         color: black;
       }
       .card3:hover h2{
         color: white;
       }
    
       .card3 h4{
        color: black;
       }
       .card3:hover h4{
        color: white;
       }
       .card3 p{
        color: black;
       }
       .card3:hover p{
        color: white;
       }
        .card3:hover .per{
            color: #FCD980;
        }
      .card3:hover .button9 a{
        color: black;
        background-color: #FCD980;
      }

/* pricing plan end   */

/* faq start */
#faq{
    padding: 80px;
}

.menu20 h1{
  
    margin:0 320px 0 0;
    font-weight: 700;
    line-height: 50px;
  
}

.menu21 .one{
    display: inline-block;
}

/* faq end */


/* footer start */
footer{
    padding-top: 100px;
    background-color: #1C1E53;
    margin-bottom: 50px;
}
.footer_left p{
    color: rgba(255, 255, 255, 0.688);
}
.footer_right h2{
    color: white;
}
.footer_right p{
    color: white;
}
.footer_right_icon i{
    color: white;
    margin-left: 10px;
}
.footer_under_text_left h3{
    color: black;
   
}
.footer_under_text_left p{
    color: rgba(0, 0, 0, 0.752);
   
}
.footer_under_text_right h3{
    color: black;
   
}
.footer_under_text_right p{
    color: rgba(0, 0, 0, 0.762);
}


.footer_bar a{
    display: inline-block;
    color: black;
}
.footer_bar .one{
    padding-left: 20px;
}
.footer_bar .two{
    padding-left: 20px;
}
.footer_bar .three{
    padding-left: 20px;
}
.footer_bar .four{
    padding-left: 20px;
}
.footer_bar .five{
    padding-left: 20px;
}
.footer_under_text_left h3{
    padding-top: 20px;
    padding-left: 20px;
}
.footer_under_text_left p{
    padding-left: 20px;
}

.footer_under_text_right h3{
    padding-top: 20px;
}
.footer_address{
    background-color:#FCD980 ;
    height: 100px;
    width: 600px;
}
/* footer end */